
.contenedor-habilidades {
  background-color: #4415a8;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  width: 100%;
  height: 100vh;
  float: right;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.titulo-habilidades {
  font-size: 36px;
  font-weight: 700;
}

.parrafo-habilidades {
  text-align: center;
  font-size: 26px;
}

.lista-habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.html {
  color: #ff5500;
}

.javascript {
  color: #fff700;
}

.css {
  color: #00a6ff;
}

.react {
  color: #ff0000;
}

.python {
  color: #00ffd5;
}
.contenedor-habilidades-lista {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lista-habilidades {
  list-style: none;
  padding: 0 2rem ;
}

.navBar {
  display: none;
  position: sticky;
  right: 0;
  top: 0;
  align-self: flex-end;
  width: auto;
}

@media screen and (max-width: 768px) {
  .contenedor-habilidades {
    width: 100%;
    height: auto;
  }

  .contenedor-habilidades-lista {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .navBar {
    display: flex;
    justify-content: flex-end;
  }

  .lista-habilidades {
    padding: 1rem 0;
  }
}

@media screen and (min-width:769px) and (max-width:1024px) {

  .contenedor-habilidades {
    width: 100%;
  }

  .contenedor-habilidades-lista {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }

  .navBar {
    display: flex;
    justify-content: flex-end;
  }

  .lista-habilidades {
    padding: 1rem 0;
  }
}