
.contenedor-habilidades {
  background-color: #4415a8;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  width: 80%;
  height: 100vh;
  float: right;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.titulo-habilidades {
  font-size: 36px;
  font-weight: 700;
}

.parrafo-habilidades {
  text-align: center;
  font-size: 26px;
}

.html {
  color: #ff5500;
}

.javascript {
  color: #fff700;
}

.css {
  color: #00a6ff;
}

.react {
  color: #ff0000;
}

.python {
  color: #00ffd5;
}
.contenedor-habilidades-lista {
  display: flex;
  font-size: 20px;
}

.lista-habilidades {
  list-style: none;
  padding: 0 2rem ;
}